.App {
  text-align: center;
  display: flex;
  align-content: stretch;
  height: 500px;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  width: 40%;
  font-size: 30px;
}

.column-header {
  border:  solid black;
  border-width: 0 0 1px 0;
  height: 50px;
}

.column-body {
  border: 1px solid rgb(129, 116, 116);
}

.text-editor {
}
